section {
    overflow: hidden;
    padding: 50px 0;
}

.section-bg {
    background-color: #eee;
}

.section-header {
    text-align: center;
    padding-bottom: 30px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: var(--font-default);
}

.section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-primary);
}

.section-header p span {
    color: var(--color-primary);
}
.d-flex a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #ff884b;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
div h2 span {
    color: #ff884b;
}
div .text-menu h2 {
    color: #ff884b;
}
